.navbar{
width: 100%;
}
.nav{
    max-width: 1400px;
    margin: 0 auto;
    height: 80px;
}
.nav-content{
    padding:  50px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbtn{
    background: none;
    border: none;
    font-size: large;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: azure;
    padding: 10px 2px;
    transition: 0.3s;
    position: relative;
}
.navbtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ff4d00;
    transition: width 0.5s ease;
}

.navbtn:hover::after {
    width: 100%;
}

.navbtn:hover {
    text-shadow: 0 0 20px rgb(255, 106, 0);
    transform: scale(1.1);
}